<nav class="navbar  navbar-dark bg-primary">
    <div class="nav navbar-nav">
      <a routerLink="/home" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i class="fa fa-home"></i> Home
      </a>
      <a routerLink="/cart" class="nav-item nav-link" routerLinkActive="active">
         Shopping Cart
      </a>
      <a routerLink="/users" class="nav-item nav-link" routerLinkActive="active">
        <i class="fa fa-user"></i> Users
      </a>
      <a routerLink="/login" class="nav-item nav-link" routerLinkActive="active" *ngIf="!auth.loggedIn">
        <i class="fa fa-sign-in"></i> Login
      </a>
      <a routerLink="/register" class="nav-item nav-link" routerLinkActive="active" *ngIf="!auth.loggedIn">
        <i class="fa fa-user-plus"></i> Register
      </a>
      <a routerLink="/account" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
        <i class="fa fa-user"></i> Account ({{auth.currentUser.username}})
      </a>
      <a routerLink="/admin" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn && auth.isAdmin">
        <i class="fa fa-lock"></i> Admin
      </a>
      <a routerLink="/logout" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
        <i class="fa fa-sign-out"></i> Logout
      </a>
      <a routerLink="/about" class="nav-item nav-link" routerLinkActive="active">
        <i class="fa fa-list"></i> About
      </a>
      <!--a routerLink="/cats" class="nav-item nav-link" routerLinkActive="active">
        <i class="fa fa-list"></i> Cats
      </a
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a routerLink="/cart"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
        </li>
        <li>
          <div *ngIf="totalPrice">
            <div class="thumbnail price">
              <strong>Total Items: </strong><span class="badge">{{totalItems}}</span> <strong>Total Price: ${{totalPrice}}</strong>
            </div>
          </div>
        </li>
        
      </ul>-->
    </div>
    
  </nav>
